body,
html {
    color: white;
    width: 100%;
    display: flex !important;
    min-height: 100vh;
    flex-direction: column;
    background-color: #4E5C63;
}

.container {
    width: 100%;
    background-color: #4E5C63;
    padding-bottom: 7%;
    flex: 1;
}


/* HEADER */

.navbar {
    width: 100%;
    height: auto;
    display: block;
    overflow: hidden;
    margin-bottom: 10px;
    background-color: #2D3438;
    z-index: 999;
    font-size: 2.5em;
    padding-top: 1%;
    padding-bottom: 1%;
}

.left {
    float: left;
    padding-left: 3%;
    width: 22%;
}

.middle {
    width: 50%;
    float: left;
    text-align: center !important;
    font-size: 1.8em;
}

.middle p {
    width: 100%;
    text-align: center;
}

.right {
    float: right;
    width: 23%;
    padding-right: 2%;
    text-align: right;
}

.navbar a {
    color: white;
}

.leftleft {
    width: 48%;
    padding-left: 2%;
    float: left;
}

.rightright {
    width: 48%;
    padding-right: 2%;
    float: right;
    text-align: right;
}


/* MAIN */

.inner {
    background-color: #2D3438;
    width: 80%;
    margin-left: 10%;
    box-shadow: 0px 0px 50px 0px black;
    margin-top: 5%;
    border-radius: 20px;
    padding-bottom: 2%;
}

.downloads {
    width: 80%;
    margin-left: 10%;
    height: auto;
    display: block;
    overflow: hidden;
}

.release,
.beta {
    width: 100%;
    height: auto;
    overflow: auto;
    display: block;
    text-align: center;
}

hr {
    margin-top: 5%;
    margin-bottom: 3%;
}

.release h2,
.beta h2 {
    margin-top: 2%;
    text-decoration: underline;
    font-size: 2em !important;
    margin-bottom: 5% !important;
}

.rversions .bversions {
    width: 100%;
    height: auto;
    display: block;
    overflow: auto;
}

.rversions div,
.bversions div {
    width: calc(100%/4);
    float: left;
    height: auto;
    display: block;
}

.rversions a,
.bversions a {
    border-width: 2px;
    border-style: solid;
    margin-right: 2%;
    padding: 3%;
    list-style: none;
    line-height: 100%;
    text-align: center;
    font-size: 2em !important;
    display: inline-block;
    color: white;
    text-decoration: none !important;
    margin-bottom: 10%;
}

.rversions a:hover,
.bversions a:hover {
    background-color: rgba(78, 92, 99, 0.5);
}

.text {
    width: 100%;
    text-align: left;
    color: white;
    margin-bottom: 1%;
}

.text a {
    color: white;
}


/* FOOTER */

.footer {
    width: 100%;
    font-size: 150%;
    color: white;
    height: 50px;
    background-color: #2D3438;
}

.git,
.imp,
.credit {
    width: calc(100%/3);
    float: left;
    text-align: center;
    margin-top: 0.5%;
    font-family: 'Crimson Text', serif;
}

.footer a {
    text-decoration: underline;
    color: white;
}

.footer a:hover {
    background: rgba(255, 255, 255, 0.4);
}


/* WEBKITS */

::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    border-radius: 1px;
    background-color: #4E5C63;
}

::-webkit-scrollbar {
    width: 12px;
    background-color: #4E5C63;
}

::-webkit-scrollbar-thumb {
    border-radius: 1px;
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, .3);
    background-color: #2D3438;
}

@media only screen and (max-width:1000px) {
    .rversions div,
    .bversions div {
        width: calc(100%/2);
    }
    h2 {
        margin-top: 3% !important;
        margin-bottom: 3% !important;
    }
    hr {
        margin-bottom: 5% !important;
    }
}
